:root {
    --azul: #0095EB;
    --verde: #00d900;
    --verde-escuro: #009000;
    --vermelho: #ff0000;
    --fundo: #ffffff;
    --texto: #000000;
}

.body {
    background-color: var(--fundo);
    color: var(--texto);
}

.cabecalho {
    padding: 20px 10px;
}

.logo-cabecalho {
    width: 300px;
}

.tema {
    background-color: var(--texto);
    color: var(--fundo);
    border: none;
    border-radius: 30px;
    font-size: 1.2em;
    padding: 5px 10px;
    transition: box-shadow 0.3s ease;
}

.tema:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.pacientes {
    height: 500px;
}

.tabela-container {
   width: 450px;
}

.titulo-container {
    background-color: var(--azul);
}

.row {
    padding: 0;
    margin: 0;
}

.titulo {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.sem-sublinhado {
    text-decoration: none;
}

.botao {
    background-color: var(--verde);
    color: white;
    border: none;
    padding: 5px 15px;
    font-size: 1.1em;
    font-weight: 500;
    transition: background-color 0.3s;
}

.botao:hover {
    background-color: var(--verde-escuro);
}

.tabela {
    background-color: var(--fundo) !important;
    color: var(--texto) !important;
    border-color: var(--texto) !important;
    width: 100%;
    table-layout: auto;
    font-size: 0.9em;
}

.tabela th, .tabela td {
    padding: 15px 20px;
    vertical-align: middle;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05) !important;
}

.dark-mode .table-striped tbody tr:nth-of-type(even) {
    background-color: rgba(255, 255, 255, 0.1) !important;
}

.table thead {
    background-color: var(--azul) !important;
    color: white !important;
    border-color: var(--texto) !important;
}

.table th, .table td {
    border: 1px solid var(--texto) !important;
}

.fa-solid {
    font-size: 1.5em;
}

.fa-plus {
    font-size: 1.2em;
}

.botao-icone {
    border: none;
    background: transparent;
}

.fa-check {
    color: var(--verde);
}

.fa-x {
    color: var(--vermelho);
}

.fa-pen {
    color: var(--azul);
}

.fa-trash {
    color: var(--vermelho);
}

.dark-mode {
    --fundo: #121212;
    --texto: #e0e0e0;
    background-color: var(--fundo);
    color: var(--texto);
}

@media (min-width: 768px) {
    .tabela-container {
        width: 1000px;
    }

    .tabela {
        font-size: 1.1em;
    }

    .fa-solid {
        font-size: 1.3em;
    }
}

/* inserir_paciente.php */

.form-inserir-container {
    padding: 0 200px;
}

.form-inserir {
    padding: 40px;
    border: 3px solid var(--azul);
    border-radius: 30px;
}